<nav class="navbar navbar-light bg-light">
  <%= link_to "RubyLoversShop", root_path, class: "navbar-brand" %>
  <%= form_with url: search_products_path, method: :get, local: true, class: "form-inline" do |f| %>
    <%= f.text_field :q, value: params[:q], required: true, class: "form-control mr-sm-2" %>
    <%= f.submit "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</nav>
